html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper-element {
  display: block;
  left: 0;
  top: 0;
  background-image: url("cool-background.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-position: fixed;
}
